---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?hl=en&user=IwHEEdEAAAAJ&view_op=list_works&gmla=AH8HC4yQzMl2_fqTWoUtedbNFQVvrPzNU2rF-06fR3aHb-SphrwQV--fJWShEocQLJC_AZsv6nNSfE0eUwhDhkPQnQfP6I1MEfK385M85rFzcUrkEUQLZtCRsUFdtBIlSMPtW3xq7HEGbq6yRoiRUkHFKN2IEFp-l_moJOOTRpjC4KkPZAnYgBSj3Lg8V-gO9Xon">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



